.top {
    background-color: orangered;
    margin: 0px 200px 20px 200px;
}
.monday{
    background-color: darkgreen;
    color: white;
    margin: 0px 300px 20px 300px;
}
.monday_breakfast {
     background-color: forestgreen;
     height: 120px;
     margin: 0px 600px 0px 600px;
     color: #ffffff;
 }
.monday_dinner {
    background-color: yellowgreen;
    height: 120px;
    margin: 0px 600px 0px 600px;
    color: #ffffff;
}
.monday_supper {
    background-color: lightgreen;
    height: 120px;
    margin: 0px 600px 100px 600px;
    color: #ffffff;
}
.tuesday {
    background-color: darkblue;
    color: white;
    margin: 0px 300px 20px 300px;
}
.tuesday_breakfast {
    background-color: mediumblue;
    height: 120px;
    margin: 0px 600px 0px 600px;
    color: #ffffff;
}
.tuesday_dinner {
    background-color: dodgerblue;
    height: 120px;
    margin: 0px 600px 0px 600px;
    color: #ffffff;
}
.tuesday_supper {
    background-color: lightskyblue;
    height: 120px;
    margin: 0px 600px 100px 600px;
    color: #ffffff;
}
.wednesday {
    background-color: brown;
    color: white;
    margin: 0px 300px 20px 300px;
}
.wednesday_breakfast {
    background-color: saddlebrown;
    height: 120px;
    margin: 0px 600px 0px 600px;
    color: #ffffff;
}
.wednesday_dinner {
    background-color: sandybrown;
    height: 120px;
    margin: 0px 600px 0px 600px;
    color: #ffffff;
}
.wednesday_supper {
    background-color: rosybrown;
    height: 120px;
    margin: 0px 600px 100px 600px;
    color: #ffffff;
}