body {
    font-family: Calibri;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    grid-gap: 5px;
    justify-content: start;
    width: 40%;
    margin-left: 30%;
    border-radius: 5px;
}
.grid > div {
    padding: 5px;
}
#item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bolder;
    font-size: 30px;
    background-color: rgb(200, 221, 231);
    border-radius: 5px;
}
#item2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 12;
    padding: 2%;
    background-color: rgb(222, 232, 237);
    border-radius: 5px;
}
#item3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
}
#username, #password {
    padding: 10px 0 10px 10px;
    width: 60%;
    border: 1px solid cadetblue;
    border-radius: 5px;
    margin: 0;
}
#password {
    padding: 10px 0 10px 10px;
    width: 60%;
    border: 1px solid cadetblue;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 2%;
}
#label_username {
    margin-right: 20%;
}
#label_password {
    margin-right: 21%;
}
#login {
    padding: 1.5% 6%;
    border-radius: 5px;
    margin-left: 38%;
    background-color: rgb(49, 133, 171);
    border: 1px solid rgb(49, 133, 171);
}
#forgot {
    float: right;
    margin-top: 0;
}
#new_account {
    display: inline;
    float: left;
    margin-top: 7%;
}
#helpdesk {
    float: right;
    display: inline;
    margin-top: 7%;
}