body {
    font-family: Calibri;
    font-size: 30px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(18, 5%);
    grid-template-rows: repeat(9, 11.1%);
    background-color: rgb(244, 244, 244);
    padding: 50px;
    grid-gap: 5px;
    justify-content: start;
    border-radius: 5px;
    height: 500px;
    width: 70%;
    margin-left: 10%;
    color: white;
    font-weight: bold;
}
#element1, #element6, #element7, #element8, #element9, #element15, #element16, #element17, #element34, #element35, #element53 {
    background-color: rgb(1,158,168);
    padding: 10px;
    border-radius: 5px;
}
#element2, #element10, #element18, #element36, #element54, #element72 {
    background-color: rgb(41, 170, 227);
    padding: 10px;
    border-radius: 5px;
}
#element5, #element14, #element32, #element33, #element51, #element52, #element71 {
    background-color: rgb(58, 181, 74);
    padding: 10px;
    border-radius: 5px;
}
#element13, #element30, #element31, #element48, #element49, #element50, #element66, #element67, #element68, #element69, #element70, #element84 {
    background-color: rgb(139, 200, 63);
    padding: 10px;
    border-radius: 5px;
}
#element81, #element82, #element83, #element85, #element86, #element87, #element88, #element89, #element90 {
    background-color: rgb(215, 223, 35);
    padding: 10px;
    border-radius: 5px;
}
#element21, #element22, #element23, #element24, #element25, #element26, #element27, #element28, #element29, #element39, #element40, #element41, #element42, #element43, #element44, #element45, #element46, #element47, #element58, #element59, #element60, #element61, #element62, #element63, #element64, #element65, #element76, #element77, #element78, #element79, #element80 {
    background-color: rgb(251, 176, 59);
    padding: 10px;
    border-radius: 5px;
}
#element4, #element12, #element20, #element38, #element56, #element74 {
    background-color: rgb(249, 149, 30);
    padding: 10px;
    border-radius: 5px;
}
#element3, #element11, #element19, #element37, #element55, #element73 {
    background-color: rgb(240, 89, 36);
    padding: 10px;
    border-radius: 5px;
}
#element57, #element91, #element92, #element93, #element94, #element95, #element96, #element97, #element98, #element99, #element100, #element101, #element102, #element103, #element104 {
    background-color: rgb(198, 156, 108);
    padding: 10px;
    border-radius: 5px;
}
#element75, #element105, #element106, #element107, #element108, #element109, #element110, #element111, #element112, #element113, #element114, #element115, #element116, #element117, #element118 {
    background-color: rgb(166, 124, 82);
    padding: 10px;
    border-radius: 5px;
}