body {
    font-size: larger;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    background-color: lightslategrey;
    padding: 1vh;
    width: 40vw;
    height: 40vh;
    margin-left: 30vw;
}
.grid-item {
    background-color: white;
    border: 1px solid darkgrey;
    padding: 2vh;
    border-radius: 1vh;
}
#bar {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
#calc_bar {
    width: 100%;
    height: 100%;
    font-size: 4vh;
    padding: 0;
    border: none;
}
.button, #C {
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
}
.button:hover {
    background-color: lightgrey;
}
#C:hover {
    background-color: lightgrey;
}