#base, #height, #area {
    margin-top: 2vh;
    border: 1px solid white;
    background-color: white;
    border-radius: 1vh;
    text-align: center;
    height: 3vh;
    width: 10vw;
}
#area {
    width: 20vw;
}
#calc {
    margin-top: 2vh;
    width: 10vw;
    height: 3vh;
    border-radius: 1vh;
}
.container {
    background-color: #000000;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 3vh;
    background-color: lightgreen;
}
.grid-item {
    background-color: green;
    border: 1px solid darkgreen;
    padding: 2vw;
    text-align: center;
}