.jumbotron {
    height: 30vh;
    margin-top: 1vh;
}
#welcome {
    font-size: 5vh;
}
#look {
    font-size: 4vh;
}
#learn_more {
    width: 100%;
    height: 7vh;
    background-color: rgb(4, 123, 255);
    border-color: rgb(4, 123, 255);
    border-radius: 5px;
    box-shadow: none;
    color: white;
    font-size: 3vh;
}
#lets_look {
    font-size: 3vh;
}
#http {
    font-size: 2.5vh;
    font-weight: normal;
}
.image {
    width: 20vw;
}
#thanks {
    background-color: rgb(212, 237, 218);
    height: 5vh;
    border-radius: 0.5vh;
    color: darkgreen;
    font-weight: bolder;
    padding-top: 1vh;
    font-size: 2vh;
}