.box {
    width: 95%;
    height: 30vh;
    margin-right: 0;
    border: 0.5vh solid green;
}
.loading {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 10vw;
    color: white;
    height: 100px;
    position: relative;
    background-color: black;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
@keyframes example {
    0%   {background-color: black; width: 0vw;}
    50%  {background-color: grey; width: 42vw;}
    100% {background-color: yellow; width: 84vw;}
}