.flex_box {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 5px solid burlywood;
    padding: 50px;
}
.flex_box > div {
    width: 100%;
    height: 100px;
    border: 5px solid cadetblue;
    display: flex;
}
#box-2 {
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: flex-end;
}
.message_2 {
    flex-direction: column;
}
.man1, .man2 {
    height: 95%;
    width: 7%;
}
.david, .daniel {
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
}
#message_2, #message_1, #message_3 {
    font-family: Calibri;
    font-weight: bold;
}
.message_1 {
    flex-direction: column;
}
