.flex_box {
    display: flex;
    height: 100%;
    width: 30%;
    background-color: lightsalmon;
    margin-left: 35%;
    border: 3px solid sandybrown;
    flex-direction: column;
}
.title {
    display: flex;
    flex-direction: column;
}
#fname, #lname, #email, #password, #cpassword {
    height: 35px;
    width: 80%;
    border: 1px solid saddlebrown;
    border-radius: 5px;
    margin-bottom: 20px;
}
#register-button {
    height: 40px;
    width: 80%;
    background-color: #009900;
    border: 1px solid darkgreen;
    margin-bottom: 20px;
    margin-top: 20px;
}