table {
    width: 100%;
}
.left {
    background-color: #009900;
    height: 750px;
    width: 33%;
    padding: 20px;
    color: #ffffff;
}
.center {
    background-color: #808080;
    height: 750px;
    width: 33%;
    padding: 20px;
    color: #ffffff;
}
.right {
    background-color: #009900;
    height: 750px;
    width: 33%;
    padding: 20px;
    color: #ffffff;
}
.background {
    background-color: #000000;
}
.layout {
    border-color: #000000;
}
td {
    border: 5px solid #000000;
}
tr {
    vertical-align: top;
}