        /*BACKGROUND PART*/
.main {
    margin: 0;
}
.base {
    height: 930px;
    width: 100%;
    background-color: #000000;
    float: left;
}





        /*HEADER PART*/
.top {
    background-color: #445162;
    height: 27.5%;
    width: 63%;
    }
.product {
    margin: 0;
    color: #ffffff;
    font-size: 52px;
    font-weight: normal;
    font-family: Calibri;
    padding: 20px 0 0 30px;
    display: block;
}
.mark {
    height: 20px;
    width: 20px;
    background-color: #000000;
    padding-left: 2.5rem;
    margin: 0;
}
p {
    background-color: #000000;
    color: #ffffff;
    display: inline;
    float: left;
}
.header_text {
    height: 100%;
    width: 50%;
    float: left;
}
ul {
    float: left;
    color: #ffffff;
    font-family: Calibri;
}
li {
    list-style-type: none;
    float: left;
    margin: 4px;
}
li:before {
    content: "✔";
}
.rectangle_white {
    height: 68.7%;
    width: 36%;
    background-color: #ffffff;
    float: right;
    margin: 40px 40px 40px 0;
}




        /*NAV PART*/
.semi-top {
    background-color: #ffffff;
    height: 27.5%;
    width: 63%;
    padding: 0;
}
.nav_content {
    background-color: #ffffff;
    height: 100%;
    width: 60%;
    float: left;
}
.nav_title {
    color: #445162;
    font-family: Calibri;
    float: left;
    margin: 30px 0 10px 35px;
    font-weight: normal;
    font-size: 25px;
}
.nav_text {
    background-color: #ffffff;
    color: #445162;
    font-family: Calibri;
    float: left;
    margin: 0px 0px 15px 35px;
    font-size: medium;
}
.rectangle_grey{
    background-color: #445162;
    height: 68.7%;
    width: 33%;
    display: block;
    float: right;
    margin: 40px 40px 40px 0;
}



        /*MIDDLE PART*/
.middle-block {
    background-color: #445162;
    height: 42%;
    width: 63%;
}
.form   {
    height: 100%;
    width: 60%;
    float: left;
}
.contacts {
    color: #ffffff;
    font-family: Calibri;
    font-weight: normal;
    margin: 30px 50px 0px 0px;
    font-size: 27px;
}
.input_1 {
    border: 0;
    height: 7%;
    width: 66%;
    float: right;
    margin: 15px 2% 5px 20px;
    padding-left: 5px;
    border-radius: 5px;
}
.input_2 {
    border: 0;
    height: 33%;
    width: 66%;
    float: right;
    margin: 15px 2% 5px 20px;
    padding-left: 5px;
    border-radius: 5px;
 }
.button_box {
    height: 100px;
    width: 100px;
    margin-left: 30%;
}
.button1 {
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    margin-top: 15%;
}
.logos  {
    background-color: #445162;
    height: 100%;
    width: 40%;
    float: right;
}
.skype  {
    background-color: #ffffff;
    height: 5%;
    width: 5%;
    float: left;
    margin-top: 20%;
    margin-left: 7%;
}
.skype_text {
    background-color: #ffffff;
    margin-top: 20%;
    font-family: Calibri;
}
.icq {
    background-color: #ffffff;
    height: 5%;
    width: 5%;
    float: left;
    margin-top: 25%;
    margin-left: 7%;
}



        /*FOOTER PART*/
.footer {
    background-color: #ffffff;
    height: 3%;
    width: 63%;
}
.footer_text {
    background-color: #ffffff;
    color: #445162;
    margin: 0;
    font-size: 12px;
}
