.background {
    background-color: #000000;
    width: 100%;
    height: 600px;
}
.header {
    background-color: #ff4040;
    height: 100px;
}
.article {
    background-color: #c0c0c0;
    height: 500px;
    width: 20%;
    display: inline;
    float: left;
}
.section {
    background-color: #ffffff;
    height: 500px;
    width: 80%;
    float: right;
    display: inline;
}
.footer {
    background-color: #ffb2b2;
    height: 520px;
    width: 100%;
}
.header_title {
    color: #ffffff;
    font-family: Calibri;
    padding: 25px 100px 35px 100px;
}
.section_title {
    font-family: Calibri;
    margin: 30px;
    font-weight: 900;
    font-size: 35px;
}
.section_text {
    margin: 30px;
    font-weight: bold;
}
.image {
    height: 100px;
    width: 100px;
}
.list {
    color: white;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 25px;
    margin: 0px 0px 0px 10px;
}
.footer_text {
    float: center;
}
.part {
    color: white;
}
.footer_words {
    font-family: Calibri;
}