.box {
    width: 40%;
    height: 750px;
    border: 2px solid lightgrey;
    margin-left: 30%;
}
p {
    font-family: Calibri;
    margin: 20px;
    font-size: 20px;
}
.elephant {
    margin-left: 25%;
}
.link_page_2 {
    margin-right: 20px;
    display: inline;
    float: right;
}
.page_number {
    display: inline;
    font-size: 15px;
    margin-left: 45%;
}