.box {
    width: 40%;
    height: 750px;
    border: 2px solid lightgrey;
    margin-left: 30%;
}
.title {
    margin-left: 30%;
    font-family: Calibri;
}
p {
    font-family: Calibri;
    margin: 20px;
    font-size: 20px;
}
.snake  {
    height: 150px;
    width: 250px;
    margin-left: 30%;
}
.hat {
    margin-left: 20%;
}
.link_page_2 {
    margin-right: 20px;
    display: inline;
    float: right;
}
.page_number {
    display: inline;
    font-size: 15px;
    margin-left: 45%;
}