.box {
    width: 40%;
    height: 750px;
    background-image: url("./images/title_without_text.jpg");
    background-size: 100% 100%;
    margin-left: 30%;
    border: 2px solid lightgrey;
}
.author_name {
    font-family: Calibri;
    width: 100%;
    letter-spacing: 11px;
    font-weight: normal;
}
.book_name {
    margin-top: 0;
    font-family: "Gabriola", sans-serif;
    font-size: 95px;
}