.box {
    width: 40%;
    height: 750px;
    border: 2px solid lightgrey;
    margin-left: 30%;
}
.contents {
    margin-left: 40%;
}
.list_of_chapters {
    font-size: 20px;
}
.table {
    border: 2px solid lightgrey;
    font-family: Calibri;
}