.box {
    height: 350px;
    width: 33%;
    border: 5px solid black;
    position: relative;
    margin: 20px 0 0 0;
}
.label {
    font-size: 35px;
    position: absolute;
    top: -20px;
    left: 20px;
    height: 20px;
    width: 250px;
    background-color: #ffffff;
    border: 0;
    text-align: center;
    margin: 0;
}
.form_1 {
    font-size: 20px;
    margin: 15px 0 0 20px;
}
.input_name {
    margin: 20px 0px 0px 120px;
}
.input_username {
    margin: 10px 0px 0px 86px;
}
.input_password {
    margin: 10px 0px 0px 91px;
}
.input_retype_password {
    margin: 10px 0px 0px 22px;
}
.radio, .checkbox {
    font-size: 20px;
    margin: 5px 0 0 20px;
}
.radio_male {
    margin: 0 0 0 110px;
}
.check_java {
    margin: 0 0 0 8px;
}
.form_2 {
    font-size: 20px;
    margin: 5px 0 0 20px;
}
.input_email {
    margin: 5px 0 0 120px;
}
.input_contact {
    margin: 0 0 0 80px;
}
.selectlist_title {
    display: inline;
    font-size: 20px;
    margin: 5px 106px 0 20px;
}
.submit {
    margin: 5px 0 0 198px;
}