.container {
    height: 400px;
    width: 100%;
    border: 2px solid black;
    position: relative;
}

.label {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 20px;
    width: 55px;
    background-color: #ffffff;
    border: 0;
    text-align: center;
}
.inbox_text {
    margin: 10px;
}
.radio_title {
    margin: 15px 0px 0 10px;
}
.radio {
    margin: 0 0 0 10px;
}
.check_title {
    margin: 15px 0 0 10px;
}
.check {
    margin: 0 0 0 10px;
}
.textarea_title {
    margin: 15px 0 0 10px;
}
.textarea {
    margin: 0 0 0 10px;
}
.clear {
    margin: 0 5px 0 10px;
}