.input_username {
    margin: 5px 0 0 80px;
}
.input_password {
    margin: 5px 0 0 83px;
}
.input_city {
    margin: 5px 0 0 16px;
}
.selectlist_title {
    display: inline;
}
.select_list {
    margin: 5px 0 0 70px;
}
.radio_title {
    display: inline;
}
.radio {
    display: inline;
}
.radio_1 {
    margin: 5px 0 0 10px;
}
.radio_2 {
    margin: 5px 0 0 172px;
}
.radio_3 {
    margin: 5px 0 0 172px;
}
.check_java {
    margin: 5px 0 0 172px;
}
.reset  {
    margin: 5px 0 0 160px;
}