.container1 {
    background-image: url("https://triit.ru/files/4e4ce6ae1da994ebb21b580291a0c17c/eede05a25c387dd9c114987b7c97a38b-960.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    /*z-index: 0;*/
    font-family: "Berlin Sans FB";
}
.box {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    /*z-index: 1;*/
}
.row {
    position: relative;
    /*z-index: 2;*/
    margin-bottom: 1vh;
    /*background-color: grey;*/
}
#logo {
    height: 10vh;
    margin-top: 2vh;
    margin-left: 2vh;
    display: inline;
    /*z-index: 3;*/
    position: relative;
}
#ironman_logo {
    /*z-index: 2;*/
    position: relative;
}
#site_name {
    font-size: 4vh;
    /*z-index: 2;*/
    color: white;
    margin-left: 0.5vw;
    margin-top: 3vh;
}
#element1, #element2, #element3, #element4, #element5 {
    /*z-index: 2;*/
    color: white;
}
#line {
    /*z-index: 2;*/
    border-top: 1px solid white;
}
#button1 {
    border: 1px solid white;
    padding: 1vh 2vh;
    margin-top: 5vh;
    position: absolute;
    text-decoration: none;
    color: white;
    display: inline-block;
}
#button2 {
    border: 1px solid white;
    padding: 1vh 2vh;
    margin-top: 5vh;
    margin-left: 6vw;
    position: absolute;
    text-decoration: none;
    color: white;
    display: inline-block;
}
#button3 {
    border: 1px solid white;
    padding: 1vh 2vh;
    margin-top: 5vh;
    margin-left: 12vw;
    position: absolute;
    text-decoration: none;
    color: white;
    display: inline-block;
}
#button4 {
    border: 1px solid white;
    padding: 1vh 2vh;
    margin-top: 5vh;
    margin-left: 17vw;
    position: absolute;
    text-decoration: none;
    color: white;
    display: inline-block;
}
#button5 {
    border: 1px solid white;
    padding: 1vh 2vh;
    margin-top: 5vh;
    margin-left: 24vw;
    position: absolute;
    text-decoration: none;
    color: white;
    /*display: inline-block;*/
}
#button1:hover {
    background-color: #dddddd;
}
#button2:hover {
    background-color: #dddddd;
}
#button3:hover {
    background-color: #dddddd;
}
#button4:hover {
    background-color: #dddddd;
}
#button5:hover {
    background-color: #dddddd;
}
#content {
    height: 69vh;
    /*background-color: white;*/
    /*z-index: 3;*/
    color: white;
}
#line_bottom {
    border-top: 1px solid white;
}
#footer {
    font-size: 2vh;
    z-index: 2;
    color: white;
    height: 2vh;
    padding-top: 0;
    padding-bottom: 0;
}